.App {
    margin: 5rem 2rem 0 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
.form {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem 1rem rgb(0, 0, 0, 0.1);
}
.k-form-buttons {
    display: flex;
    justify-content: space-between;
}
.toggle-icon {
    z-index: 100;
    margin-left: -2.3rem;
    padding: 7px 9px;
    display: flex;
    align-items: flex-end;
}
.input-password {
    display: flex;
}
.home_page {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.feedback_form {
    display: flex;
    flex-direction: column;
}
